* {
  background-color:#C3B1E1;
}


.img{
  max-width: 100%;
  max-height: 20%
  center;
  }
  li {
    display: inline;
    text-size-adjust: 50%;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }



footer {
  padding: 100;
  background-color: whitesmoke;
  padding: 100px;
  text-align: center;
  color: white;
}

